# [Th·ª±c h√†nh] Th√™m c·ªôt d·ªØ li·ªáu m·ªõi t·ª´ c√°c c·ªôt d·ªØ li·ªáu ƒë√£ c√≥

In [1]:
import pandas as pd
df=pd.read_csv('https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2022/01/20125029/shopeep_koreantop_clothing_shop_data.csv')
df

               pk_shop date_collected  ...  is_shopee_verified is_official_shop
0    20210613254711738     2021-06-13  ...                   1                0
1    20210613314198143     2021-06-13  ...                   0                0
2     2021061310377223     2021-06-13  ...                   1                0
3     2021061321407329     2021-06-13  ...                   1                0
4     2021061311187885     2021-06-13  ...                   1                0
..                 ...            ...  ...                 ...              ...
741  20210706449182992     2021-07-06  ...                   0                0
742  20210706396605392     2021-07-06  ...                   0                0
743  20210706360379308     2021-07-06  ...                   1                0
744   2021070629392066     2021-07-06  ...                   0                0
745   2021070625811092     2021-07-06  ...                   0                0

[746 rows x 18 columns]

In [2]:
# ƒê·ªÉ ƒë∆°n gi·∫£n ta th·ª±c hi·ªán l·ªçc t·∫≠p d·ªØ li·ªáu ban ƒë·∫ßu theo c√°c thu·ªôc t√≠nh sau
df = df[['join_month', 'join_day','join_year','shop_location','rating_bad','rating_good','rating_normal']]
df

    join_month  join_day  join_year  ... rating_bad  rating_good  rating_normal
0        April        27       2020  ...        181        17510            729
1    September        25       2020  ...         78         2656            198
2    September        27       2016  ...       4647      1071829          18073
3        April        30       2017  ...         44        18959            215
4      October        18       2016  ...        680        39252           2383
..         ...       ...        ...  ...        ...          ...            ...
741        May        22       2021  ...          0           32              0
742      March         3       2021  ...          1            9              0
743   December        20       2020  ...         16          463             16
744     August         2       2017  ...       1960       103289           3982
745       June        17       2017  ...      13401       708666          30799

[746 rows x 7 columns]

2. Th√™m c√°c c·ªôt m·ªõi t·ª´ c√°c c·ªôt c√≥ d·ªØ li·ªáu ki·ªÉu s·ªëTa c√≥ th·ªÉ s·ª≠ d·ª•ng c√°c ph√©p to√°n s·ªë h·ªçc: +, -, *, /

In [3]:
# T·∫°o c·ªôt 'rating' t√≠nh ƒëi·ªÉm cho m·ªói c·ª≠a h√†ng d·ª±a v√†o th√¥ng tin c√°c c·ªôt rating_bad, rating_good, rating_normal 
# theo c√¥ng th·ª©c sau: rating = rating_good *2 + rating_normal - rating_bad*3

df['rating'] = df['rating_good'] * 2 + df['rating_normal'] - df['rating_bad'] * 3
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    join_month  join_day  join_year  ... rating_good  rating_normal   rating
0        April        27       2020  ...       17510            729    35206
1    September        25       2020  ...        2656            198     5276
2    September        27       2016  ...     1071829          18073  2147790
3        April        30       2017  ...       18959            215    38001
4      October        18       2016  ...       39252           2383    78847
..         ...       ...        ...  ...         ...            ...      ...
741        May        22       2021  ...          32              0       64
742      March         3       2021  ...           9              0       15
743   December        20       2020  ...         463             16      894
744     August         2       2017  ...      103289           3982   204680
745       June        17       2017  ...      708666          30799  1407928

[746 rows x 8 columns]

3. Th√™m c√°c c·ªôt m·ªõi t·ª´ c√°c c·ªôt c√≥ d·ªØ li·ªáu ki·ªÉu chu·ªóiTa c√≥ th·ªÉ s·ª≠ d·ª•ng ph√©p to√°n gh√©p chu·ªói +Ph√©p to√°n + d√πng ƒë·ªÉ n·ªëi c√°c chu·ªói l·∫°i v·ªõi nhau, ta d√πng h√†m astype(str) ƒë·ªÉ ƒë·ªïi m·ªôt gi√° tr·ªã c√≥ ki·ªÉu b·∫•t k·ª≥ v·ªÅ ki·ªÉu chu·ªói.

In [4]:
# gh√©p 3 c·ªôt join_month, join_day, join_year th√†nh c·ªôt m·ªõi c√≥ t√™n 'date' nh·∫≠n gi√° tr·ªã c√≥ d·∫°ng: "join_month join_day,join_year"

df['date'] = df['join_month'] + " " + df['join_day'].astype(str) + "," + df['join_year'].astype(str)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    join_month  join_day  join_year  ... rating_normal   rating               date
0        April        27       2020  ...           729    35206      April 27,2020
1    September        25       2020  ...           198     5276  September 25,2020
2    September        27       2016  ...         18073  2147790  September 27,2016
3        April        30       2017  ...           215    38001      April 30,2017
4      October        18       2016  ...          2383    78847    October 18,2016
..         ...       ...        ...  ...           ...      ...                ...
741        May        22       2021  ...             0       64        May 22,2021
742      March         3       2021  ...             0       15       March 3,2021
743   December        20       2020  ...            16      894   December 20,2020
744     August         2       2017  ...          3982   204680      August 2,2017
745       June        17       2017  ...         30799  1407928       June 17,2017

[746 rows x 9 columns]

4. Th√™m c√°c c·ªôt m·ªõi theo ƒëi·ªÅu ki·ªán

In [5]:
# Th√™m c·ªôt new c√≥ gi√° tr·ªã True n·∫øu join_year = 2021 v√† False trong tr∆∞·ªùng h·ª£p c√≤n l·∫°i.
df['new'] = df['join_year'] == 2021 
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    join_month  join_day  join_year  ...   rating               date    new
0        April        27       2020  ...    35206      April 27,2020  False
1    September        25       2020  ...     5276  September 25,2020  False
2    September        27       2016  ...  2147790  September 27,2016  False
3        April        30       2017  ...    38001      April 30,2017  False
4      October        18       2016  ...    78847    October 18,2016  False
..         ...       ...        ...  ...      ...                ...    ...
741        May        22       2021  ...       64        May 22,2021   True
742      March         3       2021  ...       15       March 3,2021   True
743   December        20       2020  ...      894   December 20,2020  False
744     August         2       2017  ...   204680      August 2,2017  False
745       June        17       2017  ...  1407928       June 17,2017  False

[746 rows x 10 columns]

In [6]:
# N·∫øu c√≥ 2 l·ª±a ch·ªçn ta s·ª≠ d·ª•ng np.where
# Th√™m c·ªôt rate c√≥ gi√° tr·ªã good n·∫øu rating_good >= 50000,  bad trong tr∆∞·ªùng h·ª£p c√≤n l·∫°i

import numpy as np
df['rate'] = np.where(df['rating_good'] >= 50000,'good','bad' )
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    join_month  join_day  join_year  ...               date    new  rate
0        April        27       2020  ...      April 27,2020  False   bad
1    September        25       2020  ...  September 25,2020  False   bad
2    September        27       2016  ...  September 27,2016  False  good
3        April        30       2017  ...      April 30,2017  False   bad
4      October        18       2016  ...    October 18,2016  False   bad
..         ...       ...        ...  ...                ...    ...   ...
741        May        22       2021  ...        May 22,2021   True   bad
742      March         3       2021  ...       March 3,2021   True   bad
743   December        20       2020  ...   December 20,2020  False   bad
744     August         2       2017  ...      August 2,2017  False  good
745       June        17       2017  ...       June 17,2017  False  good

[746 rows x 11 columns]

In [7]:
# N·∫øu c√≥ nhi·ªÅu h∆°n 2 l·ª±a ch·ªçn ta s·ª≠ d·ª•ng np.select
# Th√™m c·ªôt flag t·∫∑ng c·ªù cho c√°c c·ª≠a h√†ng, flag nh·∫≠n c√°c gi√° tr·ªã nh∆∞ sau:
# blue khi rating_good >= 30000 v√† rating_bad <= 100
# yellow khi 10000 <= rating_good < 30000 v√† 100 < rating_bad <= 1000
# red khi rating_good < 10000
# black ƒë·ªëi v·ªõi c√°c tr∆∞·ªùng h·ª£p c√≤n l·∫°i

conditions = [(df['rating_good'] >= 30000) & (df['rating_bad'] <= 100),
              (df['rating_good'] >= 10000) & (df['rating_good'] < 30000) & (df['rating_bad'] <= 1000) & (df['rating_bad'] > 100),
              (df['rating_good'] < 10000)]
choices = ['blue', 'yellow','red']
df['flag'] = np.select(conditions, choices, default='black')
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

    join_month  join_day  join_year  ...    new  rate    flag
0        April        27       2020  ...  False   bad  yellow
1    September        25       2020  ...  False   bad     red
2    September        27       2016  ...  False  good   black
3        April        30       2017  ...  False   bad   black
4      October        18       2016  ...  False   bad   black
..         ...       ...        ...  ...    ...   ...     ...
741        May        22       2021  ...   True   bad     red
742      March         3       2021  ...   True   bad     red
743   December        20       2020  ...  False   bad     red
744     August         2       2017  ...  False  good   black
745       June        17       2017  ...  False  good   black

[746 rows x 12 columns]