<a href="https://colab.research.google.com/github/ducnguyen1704/ThaoTacDuLieu/blob/master/Th%E1%BB%B1c_H%C3%A0nh_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Thực hành] Tách dữ liệu của một cột thành nhiều cột

In [1]:
import pandas as pd
import numpy as np

1. Chuẩn bị dữ liệu

In [2]:
import pandas as pd
df=pd.read_csv('https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2022/01/20125029/shopeep_koreantop_clothing_shop_data.csv')
df

               pk_shop date_collected  ...  is_shopee_verified is_official_shop
0    20210613254711738     2021-06-13  ...                   1                0
1    20210613314198143     2021-06-13  ...                   0                0
2     2021061310377223     2021-06-13  ...                   1                0
3     2021061321407329     2021-06-13  ...                   1                0
4     2021061311187885     2021-06-13  ...                   1                0
..                 ...            ...  ...                 ...              ...
741  20210706449182992     2021-07-06  ...                   0                0
742  20210706396605392     2021-07-06  ...                   0                0
743  20210706360379308     2021-07-06  ...                   1                0
744   2021070629392066     2021-07-06  ...                   0                0
745   2021070625811092     2021-07-06  ...                   0                0

[746 rows x 18 columns]

In [3]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['date_collected','shop_location','response_time']]
df

    date_collected               shop_location response_time
0       2021-06-13                         NaN      10:13:55
1       2021-06-13    San Nicolas,Metro Manila      10:43:05
2       2021-06-13     Pasay City,Metro Manila      08:32:07
3       2021-06-13        Binondo,Metro Manila      09:10:38
4       2021-06-13  Caloocan City,Metro Manila      11:40:59
..             ...                         ...           ...
741     2021-07-06          Legazpi City,Albay      08:45:30
742     2021-07-06                         NaN      08:01:23
743     2021-07-06                         NaN      08:46:30
744     2021-07-06        Binondo,Metro Manila      12:19:44
745     2021-07-06     Pasay City,Metro Manila      10:02:42

[746 rows x 3 columns]

2. Tách cột dữ liệu có kiểu chuỗi, Ta có thể sử dụng các phép toán tách chuỗi split Hàm str.split(‘Ký tự phân cách’) có tác dụng tách chuỗi ban đầu str thành các chuỗi con được ngăn cách nhau bởi ký tự phân cách

In [7]:
# Tách cột shop_location thành 2 cột District và City

df['District']=df['shop_location'].str.split(',').str[0]
df['City']=df['shop_location'].str.split(',').str[1]
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    date_collected               shop_location  ...       District          City
0       2021-06-13                         NaN  ...            NaN           NaN
1       2021-06-13    San Nicolas,Metro Manila  ...    San Nicolas  Metro Manila
2       2021-06-13     Pasay City,Metro Manila  ...     Pasay City  Metro Manila
3       2021-06-13        Binondo,Metro Manila  ...        Binondo  Metro Manila
4       2021-06-13  Caloocan City,Metro Manila  ...  Caloocan City  Metro Manila
..             ...                         ...  ...            ...           ...
741     2021-07-06          Legazpi City,Albay  ...   Legazpi City         Albay
742     2021-07-06                         NaN  ...            NaN           NaN
743     2021-07-06                         NaN  ...            NaN           NaN
744     2021-07-06        Binondo,Metro Manila  ...        Binondo  Metro Manila
745     2021-07-06     Pasay City,Metro Manila  ...     Pasay City  Metro Manila

[746 rows x 5 columns]

3. Tách cột dữ liệu có kiểu ngày tháng

In [8]:
# Tách cột date_collected thành 3 cột Day, Month, Year

df['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
df['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    date_collected               shop_location response_time  ... Day Month  Year
0       2021-06-13                         NaN      10:13:55  ...  13     6  2021
1       2021-06-13    San Nicolas,Metro Manila      10:43:05  ...  13     6  2021
2       2021-06-13     Pasay City,Metro Manila      08:32:07  ...  13     6  2021
3       2021-06-13        Binondo,Metro Manila      09:10:38  ...  13     6  2021
4       2021-06-13  Caloocan City,Metro Manila      11:40:59  ...  13     6  2021
..             ...                         ...           ...  ...  ..   ...   ...
741     2021-07-06          Legazpi City,Albay      08:45:30  ...   6     7  2021
742     2021-07-06                         NaN      08:01:23  ...   6     7  2021
743     2021-07-06                         NaN      08:46:30  ...   6     7  2021
744     2021-07-06        Binondo,Metro Manila      12:19:44  ...   6     7  2021
745     2021-07-06     Pasay City,Metro Manila      10:02:42  ...   6     7  2021

[746 rows x 8 columns]

4. Tách cột dữ liệu có kiểu thời gian

In [9]:
# Tách cột response_time thành 3 cột Hour, Minute, Second
df['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
df['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
df['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    date_collected               shop_location  ... Minute Second
0       2021-06-13                         NaN  ...     13     55
1       2021-06-13    San Nicolas,Metro Manila  ...     43      5
2       2021-06-13     Pasay City,Metro Manila  ...     32      7
3       2021-06-13        Binondo,Metro Manila  ...     10     38
4       2021-06-13  Caloocan City,Metro Manila  ...     40     59
..             ...                         ...  ...    ...    ...
741     2021-07-06          Legazpi City,Albay  ...     45     30
742     2021-07-06                         NaN  ...      1     23
743     2021-07-06                         NaN  ...     46     30
744     2021-07-06        Binondo,Metro Manila  ...     19     44
745     2021-07-06     Pasay City,Metro Manila  ...      2     42

[746 rows x 11 columns]